# Домашнее задание 1

## Условие 1:

Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2:

На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [80]:
def fruit_summ(**fruits):
    fruits_amount = sum(fruits.values())
    print (f'Totaly {fruits_amount} fruits')
    
fruit_summ(apples=100, oranges=200, lemons=50)

Totaly 350 fruits

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты. Используйте list comprehensions.

In [ ]:
[100, 125, -90, 345, 655, -1, 0, 200]

In [107]:
advertising_costs = [100, 125, -90, 345, 655, -1, 0, 200]
for i in advertising_costs:
    if (i<0):
        advertising_costs.remove(i)
print(advertising_costs)
advertising_costs = sum(advertising_costs[i] for i in range(len(advertising_costs)))
advertising_costs

[100, 125, 345, 655, 0, 200]

1425

## Условие 4:
Даны два списка:
Дата покупки

In [186]:
 Revenue_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:

In [110]:
Revenue_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре.
Используйте list comprehensions

In [114]:
Revenue_nov = sum([Revenue_by_date[i] for i in range(len(Revenue_date)) if '-11-' in Revenue_date[i]])
Revenue_nov

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [222]:
def revenue_sum_by_month(l1: list, l2: list) -> dict :
    revenue_sum = {}
    month_set = set()
    revenue_sum_month = {}
    for i in range(len(l1)):
        revenue_sum[l1[i]] = l2[i]
        month_set.add(l1[i][0:7])
    for key in revenue_sum.keys():
        for j in month_set:
            if ((j in key)):
                revenue_sum_month[j]+=revenue_sum[key]
    return revenue_sum_month

In [223]:
revenue_sum_by_month(Revenue_date, Revenue_by_date)

KeyError: '2021-09'